API_KEY=testapikey
REALSENSE_PORT=tcp://host:12345
MQTT_URI=mqtts://user:pass@mqtt.svc.bksp.in:8883
MQTT_TOPIC=bus/services/realsense-aquarium/user-id
MQTT_CA_PATH=./ca-cert.pem
REALSENSE_HOST_PRIVATE_KEY_PATH=./host-private.pem
REALSENSE_DEVICE_PUBLIC_KEY_PATH=./device-public.pem